Catalogue.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	
	<!-- Keys -->

	<xs:key name="brandKey">
		<xs:selector xpath="car"/>
		<xs:field xpath="@brand"/>
	</xs:key>

	<xs:keyref name="modelKeyRef" refer="brandKey">
		<xs:selector xpath="car"/>
		<xs:field xpath="@model"/>
	</xs:keyref>
	
	<!-- /Keys-->

<!-- Attributes-->

    <xs:simpleType name="brand">
        <xs:restriction base="xs:string">
                <xs:enumeration value="Toyota"/>
				<xs:enumeration value="VW"/>
				<xs:enumeration value="Ford"/>
				<xs:enumeration value="Honda"/>
				<xs:enumeration value="Nissan"/>
				<xs:enumeration value="Mercedes"/>
				<xs:enumeration value="BMW"/>
				<xs:enumeration value="Audi"/>
				<xs:enumeration value="Volvo"/>
				<xs:enumeration value="Mazda"/>
				<xs:enumeration value="Opel"/>
				<xs:enumeration value="Peugeot"/>
				<xs:enumeration value="Renault"/>
				<xs:enumeration value="Dacia"/>
				<xs:enumeration value="Seat"/>
    	</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="model">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Corolla"/>
			<xs:enumeration value="Yaris"/>
			<xs:enumeration value="Rav4"/>

			<xs:enumeration value="Passat"/>
			<xs:enumeration value="Touareg"/>
			<xs:enumeration value="Golf"/>

			<xs:enumeration value="Focus"/>
			<xs:enumeration value="Raptor"/>
			<xs:enumeration value="Kuga"/>

			<xs:enumeration value="Civic"/>
			<xs:enumeration value="Accord"/>
			<xs:enumeration value="CR-V"/>

			<xs:enumeration value="Rogue"/>
			<xs:enumeration value="Altima"/>
			<xs:enumeration value="Maxima"/>

			<xs:enumeration value="C class"/>
			<xs:enumeration value="E class"/>
			<xs:enumeration value="S class"/>

			<xs:enumeration value="3 series"/>
			<xs:enumeration value="5 series"/>
			<xs:enumeration value="7 series"/>

			<xs:enumeration value="A4"/>
			<xs:enumeration value="A6"/>
			<xs:enumeration value="A8"/>

			<xs:enumeration value="S90"/>
			<xs:enumeration value="XC90"/>
			<xs:enumeration value="S60"/>

			<xs:enumeration value="3"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="CX-5"/>

			<xs:enumeration value="Corsa"/>
			<xs:enumeration value="Astra"/>
			<xs:enumeration value="Insignia"/>

			<xs:enumeration value="208"/>
			<xs:enumeration value="308"/>
			<xs:enumeration value="508"/>

			<xs:enumeration value="Clio"/>
			<xs:enumeration value="Megane"/>
			<xs:enumeration value="Arkana"/>

			<xs:enumeration value="Sandero"/>
			<xs:enumeration value="Logan"/>
			<xs:enumeration value="Duster"/>

			<xs:enumeration value="Ibiza"/>
			<xs:enumeration value="Leon"/>
			<xs:enumeration value="Ateca"/>
		</xs:restriction>
	</xs:simpleType>


	<!-- /Attributes -->

<!-- Simple types -->

	<xs:element name="power">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="50"/>
				<xs:maxInclusive value="2000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="miliage">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="ecoStandart">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="EURO 1"/>
				<xs:enumeration value="EURO 2"/>
				<xs:enumeration value="EURO 3"/>
				<xs:enumeration value="EURO 4"/>
				<xs:enumeration value="EURO 5"/>
				<xs:enumeration value="EURO 6"/>
				<xs:enumeration value="EURO 7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="year">
		<xs:simpleType>
			<xs:restriction base="xs:gYear">
				<xs:minInclusive value="1912"/>
				<xs:maxInclusive value="2024"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>


	<xs:element name="transmission">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Manual"/>
				<xs:enumeration value="Automatic"/>
				<!--Moje i za 4x4 ili ne-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="price">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="location">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Burgas"/>
				<!--Add more-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="colour">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="red"/>
				<xs:enumeration value="blue"/>
				<xs:enumeration value="green"/>
				<xs:enumeration value="yellow"/>
				<xs:enumeration value="orange"/>
				<xs:enumeration value="grey"/>
				<xs:enumeration value="white"/>
				<xs:enumeration value="black"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
<!-- /Simple types -->

	
	<xs:element name="car">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="brand"/>
				<xs:element ref="model"/>
				<xs:element ref="year"/>
				<xs:element ref="engine"/>
				<xs:element ref="transmission"/>
				<xs:element ref="price"/>
				<xs:element ref="location"/>
				<xs:element ref="colour"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	

	<xs:element name="model">
		<xs:complexType>
			<xs:choice>
				
				<xs:element name="Toyota">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Corolla"/>
							<xs:enumeration value="Yaris"/>
							<xs:enumeration value="Rav4"/>
							<!--add more-->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="VW">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Passat"/>
							<xs:enumeration value="Touareg"/>
							<xs:enumeration value="Golf"/>
							<!--add more-->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="Ford">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Focus"/>
							<xs:enumeration value="Raptor"/>
							<xs:enumeration value="Kuga"/>
							<!--add more-->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="Honda">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Civic"/>
							<xs:enumeration value="Accord"/>
							<xs:enumeration value="CR-V"/>
							<!--add more-->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="Nissan">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Rogue"/>
							<xs:enumeration value="Altima"/>
							<xs:enumeration value="Maxima"/>
							<!--add more-->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="Mercedes">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="C class"/>
							<xs:enumeration value="E class"/>
							<xs:enumeration value="S class"/>
							<!--add more-->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="BMW">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="3 series"/>
							<xs:enumeration value="5 series"/>
							<xs:enumeration value="7 series"/>
							<!--add more-->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="Audi">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="A4"/>
							<xs:enumeration value="A6"/>
							<xs:enumeration value="A8"/>
							<!--add more-->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="Volvo">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="S90"/>
							<xs:enumeration value="XC90"/>
							<xs:enumeration value="S60"/>
							<!--add more-->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="Mazda">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="3"/>
							<xs:enumeration value="6"/>
							<xs:enumeration value="CX-5"/>
							<!--add more-->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="Opel">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Corsa"/>
							<xs:enumeration value="Astra"/>
							<xs:enumeration value="Insignia"/>
							<!--add more-->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>


				<xs:element name="Peugeot">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="208"/>
							<xs:enumeration value="308"/>
							<xs:enumeration value="508"/>
							<!--add more-->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="Renault">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Clio"/>
							<xs:enumeration value="Megane"/>
							<xs:enumeration value="Arkana"/>
							<!--add more-->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="Dacia">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Sandero"/>
							<xs:enumeration value="Logan"/>
							<xs:enumeration value="Duster"/>
							<!--add more-->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="Seat">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Ibiza"/>
							<xs:enumeration value="Leon"/>
							<xs:enumeration value="Ateca"/>
							<!--add more-->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

			</xs:choice>
		</xs:complexType>
	</xs:element>

	

	<xs:element name="engine">
		<xs:complexType>
			<xs:sequence>
				
				<xs:element name="type">
					<xs:simpleType >
						<xs:restriction base="xs:string">
							<xs:enumeration value="Combustion"/>
							<xs:enumeration value="Electric"/>
							<xs:enumeration value="Hybrid"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="fuel">
					<xs:complexType>
						<xs:choice>
							
							<xs:element name="Combustion">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Diesel"/>
										<xs:enumeration value="Petrol"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>

							<xs:element name="Electric">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Electricity"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>

							<xs:element name="Hybrid">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Diesel-Electricity"/>
										<xs:enumeration value="Petrol-Electricity"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>

						</xs:choice>
					</xs:complexType>
				</xs:element>

				

			</xs:sequence>
		</xs:complexType>
	</xs:element>

	
	
</xs:schema>
